.Textarea {
  border-radius: 10px;
  width: 100%;
  padding: 10px 45px 60px;
  margin-left: -35px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #eee;
}

.Img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  z-index: 1;
  margin-top: 5px;
}
