.wrapper {
  background-color: white;
  border-radius: 8px;
  margin: 10px auto;
  width: 50% !important;
  padding: 0 !important;
}

.wrapper > div:first-child {
  display: flex;
  background: blue;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.wrapper > div:first-child button {
  padding: 0;
  color: white;
  padding-right: 10px;
  border-radius: 10px;
}

.wrapper > div:first-child h2 {
  margin: 0;
}

.wrapper > div:last-child {
  padding: 30px;
}

.Input {
  margin-bottom: 20px;
}

.Input h4 {
  margin: 0;
  margin-bottom: 10px;
}
