.Layout {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.Layout > div:first-child {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Layout > div:last-child {
  width: 75%;
  padding: 10px 0;
  padding-right: 10px;
}

.Right {
  display: flex;
}
